<!-- <div class="newletter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="text-subscribe">
          <h3>
            Subscribe to newsletter now
          </h3>
          <p>
            Current news from the world of insurance and finance in Switzerland
          </p>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="sub-inputs">
          <input type="email" placeholder="Your E-Mail" class="">

          <button type="button" class="">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="w-100 py-4 flex-shrink-0">
  <div class="container py-4">
    <div class="row gy-4 gx-5 position-footer-items">
      <div class="col-lg-2 col-md-6">
        <ul class="list-unstyled text-muted">
          <img src="../../assets/hoi-logo.svg">
        </ul>
        <div class="social-media-links ">
          <a href="https://www.facebook.com/infoversicherung.ch/" target="_blank">
            <img src="assets/icons/social-media/fb.svg" class="pr-3">
          </a>
          <a href="https://www.instagram.com/infoversicherung.ch/" target="_blank">
            <img src="assets/icons/social-media/instagram.svg" class="pr-3"></a>
          <a href="https://twitter.com/inVersicherung/" target="_blank">
            <img src="../../assets/icons/social-media/twitter-icon.svg" class="pr-3 twitter-ikona"></a>
          <a href="https://twitter.com/inVersicherung/" target="_blank">
            <img src="../../assets/icons/social-media/linkedin.svg" class="pr-3"></a>



        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class=" h5-weight h5-margin-b">
          Services
        </h5>
        <ul class="list-unstyled">
          <li><a routerLink="/Krankenversicherung">Health insurance</a></li>
          <li><a routerLink="/Vorsorge">Prevention</a></li>
          <li><a routerLink="/Rechtsschutz">Legal protection</a></li>
          <li><a routerLink="/Autoversicherung">Car insurance</a></li>
          <li><a routerLink="/Haustieversicherung">Pet insurance</a></li>
          <li><a routerLink="/Firmkunden">Corporate customers</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class=" h5-weight h5-margin-b">
          Locations
        </h5>
        <ul class="list-unstyled">
          <li><a routerLink="/Haupsitz">Headquarters</a></li>
          <li><a routerLink="/Agentur Zurich">Zurich Agency</a></li>
          <li><a routerLink="/Agentur Montreux">Montreux Agency</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class=" h5-weight h5-margin-b">
          Opening hours
        </h5>
        <ul class="list-unstyled">
          <li><a routerLink="/">Monday – Saturday</a></li>
          <li><a routerLink="/">08:00 – 12:00</a></li>
          <li><a routerLink="/">13:30 – 17:30</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class=" h5-weight h5-margin-b">
          Legal
        </h5>
        <ul class="list-unstyled">
          <li><a routerLink="/Privacy Policy">Privacy Policy</a></li>
          <li><a routerLink="/Legal notices">Legal notices</a></li>
          <li><a routerLink="/Data Protection">Data Protection</a></li>
          <li><a routerLink="/Impressum">Impressum</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <p class="d-flex  ">Hoi Versicherung AG is accredited by FINMA as an intermediary and does not grant mortgages or
      loans of any kind.</p>
  </div>
</footer> -->
<div class="container">
  <div class="row">
    <article>
      <div class="newletter">


        <div class="width-50">
          <div class="text-subscribe">
            <h3>
              Newsletter jetzt abonnieren
            </h3>
            <p>
              Aktuelle News aus der Welt der Versicherungen und Finanzen in der Schweiz.
            </p>

          </div>
        </div>
        <div class="width-50">
          <div class="input-group ">
            <input class="form-control input-design" placeholder="Ihre E-Mail">
            <button type="button" class="button-design">Abonnieren</button>
          </div>
        </div>
      </div>

    </article>
  </div>
</div>
<footer class="w-100  flex-shrink-0">

  <div class="container margin-top">
    <div class="row gy-4 gx-5 position-footer-items">
      <div class="col-lg-3 col-md-6">
        <ul class="list-unstyled text-muted">
          <img src="../../assets/icons/logo-shf.svg">
        </ul>
        <div class="social-media-links ">
          <a href="https://www.facebook.com/infoversicherung.ch/" target="_blank">
            <img src="assets/icons/social-media/fb.svg" class="pr-3">
          </a>
          <a href="https://www.instagram.com/infoversicherung.ch/" target="_blank">
            <img src="assets/icons/social-media/instagram.svg" class="pr-3"></a>
          <a href="https://twitter.com/inVersicherung/" target="_blank">
            <img src="../../assets/icons/social-media/twitter-icon.svg" class="pr-3 twitter-ikona"></a>
          <a href="https://twitter.com/inVersicherung/" target="_blank">
            <img src="../../assets/icons/social-media/linkedin.svg" class="pr-3"></a>



        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class=" h5-weight h5-margin-b">
          Öffnungszeiten
        </h5>
        <ul class="list-unstyled">
          <li><a routerLink="/Krankenversicherung">Montag-Freitag</a></li>
          <li><a routerLink="/Vorsorge">08:00 - 12:00</a></li>
          <li><a routerLink="/Rechtsschutz">13:30 - 17:30</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class=" h5-weight h5-margin-b">
          E-Mail Kontakt
        </h5>
        <ul class="list-unstyled">
          <li><a routerLink="/Haupsitz">info&#64;swiss-hf.ch </a></li>
          <li><a routerLink="/Agentur Zurich">bewerbung&#64;swiss-hf.ch</a></li>

        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class=" h5-weight h5-margin-b">
          Tel. Kontakt
        </h5>
        <ul class="list-unstyled">
          <li><a routerLink="/">+41 62 534 99 63 </a></li>
          <li><a routerLink="/">+41 41 552 54 00</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="container padding-70">

    <p class="d-flex  ">Swiss Home Finance AG ist von der FINMA akkreditiert als Vermittler, und vergibt keine
      Hypotheken und Kredite jeglicher Art.</p>
  </div>
</footer>