<div class="container">
    <div class="row">
        <div class=" responsive-container">
            <div class=" images-div">
                <img src="../../assets/Mask Group 174.png">
                <img src="../../assets/family1.png">
                <img src="../../assets/family2.png">
                <img src="../../assets/family3.png">
            </div>


            <div class=" text-section">

                <h2>Die besten Versicherungen für Ehepaare und Familien</h2>

                <p>Seit 10 Jahren sind wir spezialisiert auf individuelle Lösungen rund um Versicherungen im
                    Personen-/Sach-
                    und Vermögensschutz.<br> <br> Die Swiss Home Finance AG ist die Brücke zwischen dem Kunden und den
                    Gesellschaften. <br> <br> Falls Sie für sich und Ihre Familie eine Versicherung brauchen,
                    helfen wir Ihnen, die richtige Gesellschaft und das beste Preis-Leistungs-Verhältnis zu finden.</p>
            </div>
        </div>
    </div>






















</div>