<div class="navbar_outContainer">
  <nav class="navbar navbar-expand-lg container">
    <div class="search-icon">
      <a class="nav-link"><i class="fas fa-search"></i></a>
    </div>

    <a class="navbar-brand" href="#">
      <img src="../../assets/hoi-logo.svg" alt="Hoi Logo">
    </a>

    <button #menuBtn class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarText" aria-controls="#navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class=""></span>
      <span></span>

    </button>

 
    <div class="collapse navbar-collapse" id="navbarText" #menu>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Cantos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ><i class="fas fa-search"></i></a>
        </li>

        <li class="nav-item dropdown">
          <a id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <a class="nav-link" ><i class="fas fa-globe"></i></a>
          </a>
          <div class="mx-auto dropdown-menu language-design" aria-labelledby="navbarDienstleistungen">
            <ul style="list-style: none; padding: 0; margin: 0">
              <li data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <p class="dropdown-item" >DE</p>
              </li>
              <li data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <p class="dropdown-item" >EN</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
