<!-- <div class="navbar_outContainer">
  <nav class="navbar navbar-expand-lg container">
    <div class="search-icon">
      <a class="nav-link"><i class="fas fa-search"></i></a>
    </div>

    <a class="navbar-brand" href="#">
      <img src="../../assets/hoi-logo.svg" alt="Hoi Logo">
    </a>

    <button #menuBtn class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarText" aria-controls="#navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class=""></span>
      <span></span>

    </button>

 
    <div class="collapse navbar-collapse" id="navbarText" #menu>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/swiss-home" >Swiss Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Cantos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ><i class="fas fa-search"></i></a>
        </li>

        <li class="nav-item dropdown">
          <a id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <a class="nav-link" ><i class="fas fa-globe"></i></a>
          </a>
          <div class="mx-auto dropdown-menu language-design" aria-labelledby="navbarDienstleistungen">
            <ul style="list-style: none; padding: 0; margin: 0">
              <li data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <p class="dropdown-item" >DE</p>
              </li>
              <li data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <p class="dropdown-item" >EN</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container navbar-design">
    <a href="#" class="navbar-brand">
      <img src="../../assets/logo-shf.svg" alt="Swiss Home Logo">
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav"
      aria-label="Expand Navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse flex-end-position" id="nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/swiss-home">Starseite</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dienstleistungen
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ul>
              <li><a class="dropdown-item nav-link custom-styling" href="#">Dienstleistungen</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Krankenkasse</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Rechtsschutzversicherung</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Vorsorge</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Autoversicherung</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Haustierversicherung</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Firmenkunden</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Immobilien</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Hypotheken</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Privatkredit</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Mandatierung</a></li>
              <li><a class="dropdown-item btn button-design dropdown-btn" href="#">Online Beratung</a></li>
            </ul>
            <ul>
              <li><a class="dropdown-item nav-link  custom-styling" href="#">Other pages</a></li>
              <li><a class="dropdown-item nav-link " href="#">Grundversicherung</a></li>
              <li><a class="dropdown-item nav-link" href="#">Zusatzversicherung</a></li>
              <li><a class="dropdown-item nav-link" href="#">Krankenversicherung wechsein</a></li>
              <li><a class="dropdown-item nav-link" href="#">Krankenversicherung vergleichen</a></li>
              <li><a class="dropdown-item nav-link" href="#">Kundigungsfristen</a></li>
              <li><a class="dropdown-item nav-link" href="#">Versicherungsberatung</a></li>
              <li><a class="dropdown-item nav-link" href="#">Verkehrsrechtsshutz</a></li>
              <li><a class="dropdown-item nav-link" href="#">Immobilierechtsschutz</a></li>
              <li><a class="dropdown-item nav-link" href="#">Arbeitsrechtsschutz</a></li>
              <li><a class="dropdown-item nav-link" href="#">Wertsachenversicherung</a></li>
              <li><a class="dropdown-item nav-link" href="#">Hausrat & Haftpflichtversicherung</a></li>
            </ul>
            <ul>
              <li><a class="dropdown-item nav-link margin-top" href="#">Privaterechtsschutz</a></li>
              <li><a class="dropdown-item nav-link" href="#">Haftpflicht</a></li>
              <li><a class="dropdown-item nav-link" href="#">Teilkasko</a></li>
              <li><a class="dropdown-item nav-link" href="#">Vollkasko</a></li>
              <li><a class="dropdown-item nav-link" href="#">BVG - Berufliche Vorsorge</a></li>
              <li><a class="dropdown-item nav-link" href="#">UVG - Unfallversicherung</a></li>
              <li><a class="dropdown-item nav-link" href="#">KTG - Krankentaggled</a></li>
              <li><a class="dropdown-item nav-link" href="#">Reiseversicherung</a></li>
              <li><a class="dropdown-item nav-link" href="#">Kunstversicherung</a></li>
              <li><a class="dropdown-item nav-link" href="#">Gebaudeversicherung</a></li>

            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link">Uber uns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Kontakt</a>
        </li>
        <li class="nav-item ">
          <div class="input-group ">
            <input class="form-control input-design" placeholder="Search">
            <button type="button" class="button-design"><i class="fas fa-search"></i></button>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a class="nav-link globe-dropdown "><i class="fas fa-globe"></i>
              <i class="fas fa-chevron-down ms-2"></i></a>
          </a>
          <div class="mx-auto dropdown-menu language-design" aria-labelledby="navbarDienstleistungen">
            <ul style="list-style: none; padding: 0; margin: 0">
              <li data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <p class="dropdown-item">DE</p>
              </li>
              <li data-toggle="collapse" data-target="#navbarTogglerDemo02">
                <p class="dropdown-item">EN</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>