<div class="container">
    <div class="main-card">
        <div class="card col-lg-12">
        <h2>Your Request Has Been Transmitted</h2>
    
        <p>Thank you for your request. You will be contacted as soon as possible.</p>
        <img src="../../assets/dankeicon.png" alt="danke icon">
        <div class="col-lg-7">
            <button type="button" class="form-control button-design" (click)="goToHome()">GO HOME</button>
    
        </div>
    </div>
    
    </div>
    
    <h2>Was passiert als Nächstes?</h2>
    
    <div class="card-container col-lg-8">
        <div class="card col-lg-3">
    <img src='../../assets/notesIconDanke.svg' alt="" class="notes">
    <p>Wir werden Ihre Anfrage so schnell wie möglich bearbeiten.</p>
        </div>
        <div class="card col-lg-3">
            <img src='../../assets/likeIconDanke.svg' class="like"> 
            <p>Unsere Versicherungsexperten erstellen ein auf Ihre Bedürfnisse abgestimmtes Angebot</p>
        </div>
        <div class="card col-lg-3">
            <img src='../../assets/telIconDanke.svg' class="tel">
            <p>Nach erfolgreicher Prüfung Ihrer Anfrage kontaktieren wir Sie, um das Angebot zu besprechen.</p>
        </div>
    </div>
    </div>