<div class="background">
    <div class="slider-effectCoverFlow">
      <swiper
        [effect]="'coverflow'"
        [grabCursor]="true"
        [centeredSlides]="false"
        [slidesPerView]="3"
        [spaceBetween]="60"
        [coverflowEffect]="{
          rotate:0,
          stretch: 0,
          depth:100,
          modifier:1,
          slideShadows:true
        }"
        [navigation]="true"
        [initialSlide]="2"
        [loop]="true" 
  
        class="mySwiper"
      >
        <ng-template swiperSlide><img src="../../assets/asset-2.png"></ng-template>
        <ng-template swiperSlide><img src="../../assets/asset-3.png"></ng-template>
        <ng-template swiperSlide><img src="../../assets/1d33c6d6-7c0f-4d29-a88a-cb0bb7afa781.png"></ng-template>
        <ng-template swiperSlide><img src="../../assets/asset-4.png"></ng-template>
        <ng-template swiperSlide><img src="../../assets/1d33c6d6-7c0f-4d29-a88a-cb0bb7afa781.png"></ng-template>
      </swiper>
    </div>
    <div class="text-div">
      <h2>Swiss Home Finance AG is at your side to advise you!</h2>
      <p>Our consulting team will be happy to take the time to provide you with comprehensive advice that is individually tailored to your needs. Our red pen helps you to avoid any overinsurance. <br>  <br>  We focus on reasonable coverage in the event of an insured event. Do not waste any time and make an appointment for a highly qualified consultation.</p>
    </div>
</div>