<div class="container">
    <div class="row">
<div class=" responsive-container">



<div class=" text-section">

   <h2>Our work is our passion!</h2> 

   <p>The focus of our actions is always the needs of the customer in the first place. As an independent broker, 
    we can always respond neutrally to the needs and implement qualitative solutions with the best price-performance ratio for the customer. <br><br>
    Our experts are constantly educating themselves, be it at universities or through Cicero's offer. 
    As an independent partner, we maintain long-term partnerships with our customers throughout Switzerland.</p>
    <button type="button" class="mt-3 button-design">About us</button>
</div>
<div class=" images-div">
    <img src="../../assets/work4.png">
    <img src="../../assets/work3.png">
    <img src="../../assets/work2.png">
    <img src="../../assets/work1.png">
</div>
</div>
</div>






















</div>