<div class="navbar-wrapper">
    <img src="../../assets/family.png" alt="Background Image" class="background-image">

    <div class="container mobile-border-radius">
                <div class=" first-card card  no-box-shadow">
                    <div class=" mobie-text-align  ">
                        <h1 class="card-title">Ihre unabhangiger Partner fur Versicherunglosungen</h1>
                        <p class="card-text"> Versicherungsdeckung, auf die Sie sich verlassen können.</p>
                            <a href="#" class="btn button-design card-button">Jetz vergleich</a>
                        </div>
                    </div>
                    

            <div class="row margin-top-cards">
                <div class="width-40 card-container">
                    <div class="card-design">
                        <img src="../../assets/icons/social-media/krankenkasse.svg" alt="Krankenkasse">
                        <h5 class="card-title">
                            Krankenkasse
                        </h5>
                    </div>
                    <div class="red-dot"></div>
                </div>
    
                <div class="width-20 card-container">
                    <div class="card-design">
                        <img src="../../assets/icons/social-media/vorsorge.svg" alt="vorsorge">
                        <h5 class="card-title">
                            Vorsorge
                        </h5>
                    </div>
                    <div class="red-dot"></div>
                </div>
    
                <div class="width-20 card-container">
                    <div class="card-design">
                        <img src="../../assets/icons/social-media/rechtsschutz.svg" alt="vorsorge">
                        <h5 class="card-title">
                            Rechtsschutz
                        </h5>
                    </div>
                    <div class="red-dot"></div>
                </div>
    
                <div class="width-20 card-container">
                    <div class="card-design">
                        <img src="../../assets/icons/social-media/autoversicherung.svg" alt="vorsorge">
                        <h5 class="card-title">
                            Autoversicherung
                        </h5>
                    </div>
                    <div class="red-dot"></div>
                </div>
    
                <div class="width-20 card-container two">
                    <div class="red-dot second-row"></div>
                    <div class="card-design">
                        <img src="../../assets/icons/social-media/haustierversicherung.svg" alt="vorsorge">
                        <h5 class="card-title">
                            Haustieversicherung
                        </h5>
                    </div>
                </div>
    
                <div class="width-20 card-container two">
                    <div class="red-dot second-row"></div>
                    <div class="card-design">
                        <img src="../../assets/icons/social-media/firmenkunden.svg" alt="vorsorge">
                        <h5 class="card-title">
                           Firmenkunden
                        </h5>
                    </div>
                </div>
                <div class="width-20 card-container two">
                    <div class="red-dot second-row"></div>
                    <div class="card-design">
                        <img src="../../assets/icons/social-media/immobilien.svg" alt="vorsorge">
                        <h5 class="card-title">
                           Immobilien
                        </h5>
                    </div>
                </div>
                <div class="width-20 card-container two">
                    <div class="red-dot second-row"></div>
                    <div class="card-design">
                        <img src="../../assets/icons/social-media/hypotheken.svg" alt="vorsorge">
                        <h5 class="card-title">
                           Hypotheken
                        </h5>
                    </div>
                </div>
                <div class="width-20 card-container two">
                    <div class="red-dot second-row"></div>
                    <div class="card-design">
                        <img src="../../assets/icons/social-media/privatkredit.svg" alt="vorsorge">
                        <h5 class="card-title">
                           Privatkredit
                        </h5>
                    </div>
                </div>
            </div>

        </div>

    </div>
 <app-first-form></app-first-form>
 <app-family-insurance></app-family-insurance>
 <app-anniversary></app-anniversary>
 <app-work></app-work>
 <app-partners></app-partners>
 <app-slider></app-slider>




 <div class="container">
    <div class="center-part">
    <div class="last-part">
    <h3>Lorem Ipsum is simply dummy</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took.</p>
    <button type="button" class=" mt-2 button-design last-one">Online Beratung</button>
</div>
</div>
 </div>